@page "/cadastrarUsuario"
@using AppReservas_Salas.Models;
@using AppReservas_Salas.Controllers;
@inject UsuarioController usuarioController;
@inject TipoUsuarioController tipoController;
@inject NavigationManager navegacao;
@inject IJSRuntime JSRuntime;
@rendermode InteractiveServer

<script>
    window.abrirModal = (id) => {
        const el = document.getElementById(id);
        const modal = bootstrap.Modal.getOrCreateInstance(el);
        modal.show();

    window.fecharModal = (id) => {
        const modalEl = document.getElementById(id);
        const modal = bootstrap.Modal.getInstance(modalEl);
        if (modal) {
            modal.hide();
        }
    };
</script>



<div class="top-row px-5 bg-gradient m-0 p-5" style="height: 50px;">

</div>
<h1 class="m-5">Cadastro De Usuario</h1>

<div class="container">
    <div class="row mt-2">
        <div class="col ms-3">
            <label class="form-label" for="txtNome">Nome:</label>
            <input type="text" name="txtNome" id="txtNome" @bind="usuario.Nome" class="form-control" placeholder="" />
        </div>
        <div class="col ms-3">
            <label class="form-label" for="txtMatricula">Matricula:</label>
            <input type="number" name="txtMatricula" id="txtMatricula" @bind="usuario.Matricula" class="form-control" placeholder="" />
        </div>
    </div>

    <div class="row mt-2">
        <div class="col ms-3">

            <label class="form-label" for="txtSenha">Senha:</label>
            <input type="password" name="txtSenha" id="txtSenha" @bind="usuario.Senha" class="form-control" placeholder="" />
            @if (erroSenha)
            {
                <div class="invalid-tooltip">
                    As senhas não coincidem!
                </div>
            }
        </div>
        <div class="col ms-3">
            <label class="form-label" for="txtCSenha">Confirmar Senha:</label>
            <input type="password" name="txtCSenha" id="txtCSenha" class="form-control" placeholder="" @onchange="VerificarSenha" />
        </div>
    </div>

    <div class="row mt-2">
        <div class="col ms-3">
            <select @onchange="SelecionarTipo" class="form-control" name="txtTipo" id="txtTipo">
                <option disabled selected>Selecione o Tipo de Usuário</option>
                @foreach (var tipo in tipoUsuarios)
                {
                    <option value="@tipo.Id">@tipo.Nome</option>
                }
                <option value="-1">+ Novo Tipo...</option>
            </select>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col ms-3">
            <button class="btn btn-success" @onclick="Salvar" disabled="@enableButton">SALVAR</button>
        </div>
    </div>
</div>

//Modal de Cadastro de Tipo
<div class="modal fade" id="modalNovoTipo" tabindex="-1" aria-labelledby="modalNovoTipoLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalNovoTipoLabel">Cadastrar Novo Tipo de Usuário</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
            </div>
            <div class="modal-body d-flex flex-row gap-3">
                <label class="form-label">Tipo de Usuario:</label>
                <input type="text" class="form-control" placeholder="Nome do tipo" @bind="novoTipoNome" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" @onclick="SalvarNovoTipo">Salvar</button>
            </div>
        </div>
    </div>
</div>


@code {
    private Usuario usuario = new Usuario();
    private string password = "";
    private bool enableButton = true;
    private bool erroSenha = false;
    private List<TipoUsuario>? tipoUsuarios = new List<TipoUsuario>();


    protected override async Task OnInitializedAsync()
    {
        var listaTipos = await tipoController.TiposUsuario();
        tipoUsuarios= listaTipos;
    }

    public async Task Salvar()
    {
        await usuarioController.Add(usuario);
        await usuarioController.Salvar();

        enableButton = true;
    }

    private void VerificarSenha(ChangeEventArgs e)
    {
        password = e.Value?.ToString();

        if (usuario.Senha != password)
        {
            erroSenha = true;
        }
        else
        {
            erroSenha = false;
        }
    }

    private async Task SelecionarTipo(ChangeEventArgs e)
    {
        var valor = e.Value?.ToString();

        if (valor == "-1")
        {
            // Abre o modal via JS
            await JSRuntime.InvokeVoidAsync("abrirModal", "modalNovoTipo");
        }
        else if (int.TryParse(valor, out int idTipo))
        {
            usuario.IdTipo = idTipo;
        }

    }

    private string? novoTipoNome;

    private async Task SalvarNovoTipo()
    {
        if (!string.IsNullOrWhiteSpace(novoTipoNome.ToLower()))
        {
            var novoTipo = new TipoUsuario();
            novoTipo.Nome = novoTipoNome.ToLower();
            await tipoController.Add(novoTipo);
            await tipoController.Salvar();
            var lista = await tipoController.TiposUsuario();
            tipoUsuarios = lista;

            await JSRuntime.InvokeVoidAsync("fecharModal", "modalNovoTipo");
        }
    }
}
